.H_services{
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.services{
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    font-size: 2rem;
    text-align: left;
    padding: 38px 37px;
}
.services > p{
    font-size: 2rem;
}