.H_services{
    display: grid;
    grid-template-columns: repeat();
}
.services{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 2rem;
    text-align: left;
    padding: 38px 37px;
}
.services > p{
    font-size: 2rem;
}