.services{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 2rem;
    text-align: left;
    padding: 38px 37px;
}
/* .services > img{

} */
.services > p{
    font-size: 1.5rem;
}
.services > p > span{
    font-weight: bold;
}