/* .H_services{
    width: 100%;
    display: flex;
} */
.services{
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    font-size: 2rem;
    text-align: left;
    padding: 38px 37px;
}
.services > p{
    font-size: 2rem;
}
.badge{
    background: cream;
    font
}