.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 36px;
}
.photo-grid{
    width: 70%;
    margin: auto;
    padding: 26px 77px;
}
/* .intro-txt{
    width: 60%;
    text-align: left;
    padding: 36px;
} */
h1{
    w
    font-weight: 600;
    font-size: 36px;
    height: 40px;
}
p{
    width: 30%;
    font-weight: 300;
    font-size: 16px;
}